:root {
    --white: #fff;
    --lime-green: #75EDD1;
    --pink: #E670AC;
    --blue: #0146C8;
    --light-blue:#6198FF;
    --dark-gray: #1A1A1A;
    --light-gray:#D9D9D9;
    --black: #000;
    --lilita-one: 'Lilita One', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}



/*-------------------------------------------------------------------------------------
# SECTION: Styles généraux
-------------------------------------------------------------------------------------*/

body {
    font-family: var(--montserrat);
    color: var(--white);
}

/*Titres principales de la page qui seront dans la fonte donner*/
h1, h2,h3 {
    font-family: var(--lilita-one);
}

h1 {
    font-size: 64px;
}

p {
    font-size: 20px;

}



ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    padding: 0
}


a {
    text-decoration: none;
}



.container {
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;

}


/*Pour faciliter la vie, j'ai fait deux classe pour la version mobile et desktop. Toutes element dans la classe desktop sera casher  lessant qur les element present dans la version mobile du header. */
.desktop {
    display: none;
}



/*-------------------------------------------------------------------------------------
# SECTION: En-tête
-------------------------------------------------------------------------------------*/


header {
    background-color: var(--dark-gray);
    width: 100vw;

}

/*.header {

    position:fixed;
    top: 0;
    left: 0;

}
^ fait en sorte que le header soit toujour en haut de l'écran*/


/*utiliser pour centrer les element du header avec un flex et les aligner les elements sur une line. J'utilise cela aussi sur les contenu comme les icones et les bouttons de nav.*/


.header.container {
    position:relative;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:15px 50px;

    
}

.logo {
    display:inline-block;
    width: auto;
    height: auto;
    justify-content: flex-start;
    flex-grow: 1;
    padding-right: 92px;
    
}

.logo-image {
    width: 225px;
    height: auto;
}

.burger {
    display:flex;
    justify-content: flex-end;
}

/*La majorite des styles [commes les ancres] sont pour la version desktop. Explication dans la ligne 138*/


.external-link {
    align-self: center;
    gap: 1.1em;
    padding:1rem;

    


}


.header-icon {
    width: 57px;
    box-sizing: content-box;
    aspect-ratio: 1/1;

    border-style: solid;
    border-radius: 10%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    cursor:pointer;

}

.header-img {
    max-width: 61px;

}

.nav-element {
    font-size: 30px;
    font-weight: 400;

    
    
}


.nav-language {
    font-size: 38px;
    align-self: flex-end;
}

/*couleur de styles des bouttons de nav. Ainsi qu'une transition qui change la couleur*/
.nav-element, .nav-language {
    font-family: var(--lilita-one);
    color: var(--light-gray);
    transition-duration: 0.5s;
    
}

/*Change la couleur des bouttons de navigation*/
.nav-element:hover,
.nav-language:hover {
    color:var(--white)
}


.header-nav {
    
}




/*-------------------------------------------------------------------------------------
CSS POUR MENU BURGER
----------------------------------------------------------------------------------------*/

/*masquage de la checkbox du menu responsive*/
input[type = "checkbox"]#burger {
    display: none;
}

/*NOTE: AJOUT DU MENU PLUS TARD*/
label#menu-hamburger {
    display: none;
}






/*-------------------------------------------------------------------------------------
# SECTION: Héro (seulement page acceuil)
-------------------------------------------------------------------------------------*/



.hero {
    background-image: url("../assets/image/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 120vh;
}

.the-signal {
    margin: 0;
}









/*-------------------------------------------------------------------------------------
# SECTION: Main
-------------------------------------------------------------------------------------*/
.main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}



/*-------------------------------------------------------------------------------------
# SECTION: Footer
-------------------------------------------------------------------------------------*/



/*centre et aligne les icones avec un flex*/
footer {
    background-color: var(--dark-gray);
    width:100vw;

}

.footer.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.external-link.mobile {
    display: flex;
    justify-content: center;


}
.icon-list {
    display: flex;
    justify-content: center;
}

.footer-icons {
    display: flex;
    gap: 36px;
}

.icon {
    width: 48px;
    cursor: pointer;
}


/*-------------------------------------------------------------------------------------
# MEDIA QUERIES
-------------------------------------------------------------------------------------*/

@media screen and (min-width: 778px) {

    .header-nav.desktop {
        display: flex;
    
        justify-content: flex-end;
        align-items: flex-start;
        align-self: center;
        gap: 101.5px;
    
    
    }


    .desktop {
        display: flex;
        justify-content: flex-start;
    }

    .mobile {
        display: none;
    }
    



}

