:root {
    --white: #fff;
    --lime-green: #75EDD1;
    --pink: #E670AC;
    --blue: #0146C8;
    --light-blue:#6198FF;
    --dark-gray: #1A1A1A;
    --light-gray:#D9D9D9;
    --black: #000;
    --gray: #303030;
    --lilita-one: 'Lilita One', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

/*keyframes pour l'animation du logo dans la section studio*/
@keyframes rotation {
    0%,100% {transform: rotate(0deg)}
    0% {opacity:1}
    25% {transform:rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(360deg) translatey(20%)}
    100% {transform: translateY(200%)}


    25% {opacity:1}
    50% {opacity:1}
    75% {opacity:1}
    100% {display:none;}
}



/*-------------------------------------------------------------------------------------
# SECTION: Styles généraux
-------------------------------------------------------------------------------------*/

body {
    font-family: var(--montserrat);
    color: var(--white);
}

/*Titres principales de la page qui seront dans la fonte donner*/
h1, h2,h3 {
    font-family: var(--lilita-one);
    font-weight: unset;
    
}

h1 {
    font-size: 64px;

}

p {
    font-size: 20px;
}



ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    padding: 0
}


a {
    text-decoration: none;
    font-size: 40px;
}



.container {
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;

}

/*Style pour les images et le iframe, je le separe en class pour ne pas inclure le logo*/
.img, .video {
    border: 3px solid var(--white);
    border-radius: 20px;

    width: 348px;
    height: auto;
    margin: 0 2em;

    
}


/*Pour faciliter la vie, j'ai fait deux classe pour la version mobile et desktop. Toutes element dans la classe desktop sera casher  lessant qur les element present dans la version mobile du header. */
.desktop {
    display: none;
}





/*-------------------------------------------------------------------------------------
# SECTION: En-tête
-------------------------------------------------------------------------------------*/


header {
    background-color: var(--dark-gray);
    width: 100vw;


}

header {

    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/*^ fait en sorte que le header soit toujour en haut de l'écran*/
#form1 {
    display:flex;
    justify-content: flex-end;
    flex-grow: 2;
}



/*utiliser pour centrer les element du header avec un flex et les aligner les elements sur une line. J'utilise cela aussi sur les contenu comme les icones et les bouttons de nav.*/


.header.container {
    position:relative;
    max-height: 141px;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:15px 50px;

    
}

.header.nav {
    display: flex;
    justify-content: space-around;
}


.logo {
    display:inline-block;
    width: auto;
    height: auto;
    justify-content: flex-start;
    flex-grow: 1;
    padding-right: 15px;
    
}

.logo-image {
    width: 225px;
    height: auto;
}

.burger {
    display:flex;
    justify-content: flex-end;
}

/*La majorite des styles [commes les ancres] sont pour la version desktop.*/


.external-link {
    align-self: center;
    gap: 1.1em;
    padding:1rem;

    


}

.header-nav.mobile {
    flex-grow: 0;
    align-self: center;
}

.header-icon {
    width: 57px;
    box-sizing: content-box;
    aspect-ratio: 1/1;

    border-style: solid;
    border-color: var(--pink);
    border-radius: 10%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    cursor:pointer;
    transition-duration: 0.5s;

}

.header-icon:hover {
    transform: scale(1.2);
}

.header-icon.no1 {
    background-color: var(--lime-green);
}
.header-icon.no2 {
    background-color: var(--blue)
}

.header-img {
    max-width: 61px;

}



.nav-language {
    font-size: 38px;
    align-self: flex-end;
}

/*couleur de styles des bouttons de nav. Ainsi qu'une transition qui change la couleur*/
.nav-element, .nav-language {
    font-family: var(--lilita-one);
    color: var(--light-gray);
    transition-duration: 0.5s;
    
}




/*Change la couleur des bouttons de navigation*/
.nav-element:hover,
.nav-language:hover {
    color:var(--white)
}


/*La couleur des bouttons du header changent dépendament d'ou l'utilisateur est dans le site*/
.site-choisi {
    color:var(--light-blue)
}







/*-------------------------------------------------------------------------------------
CSS POUR MENU BURGER
----------------------------------------------------------------------------------------*/

/*masquage de la checkbox du menu responsive*/
input[type = "checkbox"]#burger {
    display: none;
}

label#menu-burger {
    color:var(--dark-gray);
    font-size: 40px;
    cursor: pointer;
}
label#menu-burger:hover  {
    transition: color 1s;
    color:var(--white);
}

.header-nav #menu ul {
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    position: absolute;

    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    transform: translateX(100%)

}

#form1 input[type="checkbox"]:checked ~ #menu ul  {
    transform: translate(0%);
    transition: transform 3s;
}

/*note: je n'ai aucune idée pourquoi le menu ne fonctionne pas désolé T_T*/






/*-------------------------------------------------------------------------------------
# SECTION: Héro (seulement page acceuil)
-------------------------------------------------------------------------------------*/


.hero {
    background-image: url("../assets/image/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;

    width: 110vw;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
}


/*mettre le text en bas du hero*/

.signal-text {

    position: absolute;

    width: 350px;
    max-width: 1000px ;
    min-width: 0;
    bottom: 0;
    padding: 10px;
}

.signal-text p {
    font-size: 1em;
    font-weight: bold;
}









/*-------------------------------------------------------------------------------------
# SECTION: MAIN
-------------------------------------------------------------------------------------*/
/*Style pour la majorité des section. Je met toutes les sections dans une class section, puis je les met dans une AUTRE class (.apropos, .details et .gallerie pour l'acceuil)
je met un display flex pour to*/
.section {
    text-align: center;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    
}

.section p, .section h1 {
    margin-top: 3;
    margin-bottom: 2em;
}

.apropos {
    background-color: var(--gray);
    padding:10px 0;
}
.apropos h2 {
    font-size: 64px;
}

.video {
    width:359px;
    min-height: 242px;
}


/*MENU CARROUSELLE POUR LA SECTION DETAIL ET LA SECTION GALLERIE*/
.detail , .gallerie .caroussel {
    overflow-x: scroll;
    padding: 0 2rem;

    display: flex;
    flex-direction: row;

}
.caroussel {
    width: 100vw;
}



.detail {
    background-color: var(--lime-green);
}

.gallerie {
    background-color: var(--pink);
}


.gallerie .caroussel {

    padding-top:100px;
}

.gallerie .img {
    width: 400px;
}


/*------------------------------------------------------------------------------------------------
# SECTION:  (STUDIO)
------------------------------------------------------------------------------------------------*/

.main-studio {
    background-color: var(--lime-green);
    color: var(--blue);

    width: 100vw;
    font-weight: bold;
}

.studio {
    padding-top: 20em;
}
.studio h1 {
    margin-top:100px;
}

.studio-logo {
    cursor: pointer;
}

.studio-logo:active {
    animation: rotation 2s ease;
    animation-fill-mode: forwards;
}
.studio-logo:ended {
    display: none;
}


/*-------------------------------------------------------------------------------------
# SECTION: Footer
-------------------------------------------------------------------------------------*/



/*centre et aligne les icones avec un flex*/
footer {
    background-color: var(--dark-gray);
    width:100vw;

}

.footer.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.external-link.mobile {
    display: flex;
    justify-content: center;


}
.icon-list {
    display: flex;
    justify-content: center;
}

.footer-icons {
    display: flex;
    gap: 36px;
}

.icon {
    width: 48px;
    cursor: pointer;
}


/*-------------------------------------------------------------------------------------
# MEDIA QUERIES
-------------------------------------------------------------------------------------*/


@media screen and (min-width: 1012px) {
    .external-link.mobile {
        display: none;
    }

    


    /*-----------------------------------------------------------------------------------
    SECTION GENERAL
    -------------------------------------------------------------------------------------*/


    p {
        font-size: 32px
    }

    h1 {
        font-size: 5em;
    }



    .img, .video {
        width: 723px;
        height: auto;
    }


    /*-----------------------------------------------------------------------------------
    # SECTION: HEADER
    -------------------------------------------------------------------------------------*/

    .logo-image {
        width: 290px;
    }

    .header-nav {
        background-color:var(--dark-gray);
        display: flex;
        flex-direction: row;
    
        justify-content: space-between;
        align-items: flex-start;
        align-self: center;
        flex-grow: 3;
        gap: 10px;
        transform:translate(0%);
    
    }
    .header-nav.mobile {
        display: none;
    }

    .desktop {
        display: flex;
        justify-content: space-between;
    }


    /*-------------------------------------------------------------------------------------
    # SECTION: Héro (seulement page acceuil)
    -------------------------------------------------------------------------------------*/

    .signal-text  {
        display: block;
        width:1048px;
    }


    /*-------------------------------------------------------------------------------------
    # SECTION: MAIN (ACCEUIL)
    -------------------------------------------------------------------------------------*/
    .section {
        text-align:left;
        align-items: flex-start;
    }
    .section.container {
        display: flex;
        flex-direction: row;
    }

    .apropos h2 {
        padding-right:80vw;
    }

    .text {
        width:50vw;
        
    }
    .video {
        width: 723px;
        min-height: 486px;
        align-self: center;
        margin-bottom: 10vh;
    }



    .detail .caroussel {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 10vw;
    

    }
    .text-caroussel h2 {
        font-size: 64px;
    }

    .text-caroussel p {
        font-weight: 400;
    }
    .text-caroussel {
        width: 50vh
    }


    .gallerie {
        align-items: center;
    }
    .gallerie .img {
        width: inherit;
    }




    /*-------------------------------------------------------------------------------------
    # SECTION: MAIN (STUDIO)
    -------------------------------------------------------------------------------------*/
    .section.studio.container {
        flex-direction: row-reverse;
    }

    .studio-logo {
        padding-right: 10vw;
        transform: scale(1.6);
    }
}

