:root {
    --white: #fff;
    --lime-green: #75EDD1;
    --pink: #E670AC;
    --blue: #0146C8;
    --light-blue:#6198FF;
    --dark-gray: #1A1A1A;
    --black: #000;
    
}



/*-------------------------------------------------------------------------------------
# SECTION: Styles généraux
-------------------------------------------------------------------------------------*/

h1, h2 {
    font-family: var(--titles);
}

/*-------------------------------------------------------------------------------------
# SECTION: En-tête
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
# SECTION: Main
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
# SECTION: Héro
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
# MEDIA QUERIES
-------------------------------------------------------------------------------------*/