:root {
    --white: #fff;
    --lime-green: #75EDD1;
    --pink: #E670AC;
    --blue: #0146C8;
    --light-blue:#6198FF;
    --dark-gray: #1A1A1A;
    --light-gray:#D9D9D9;
    --black: #000;
    --lilita-one: 'Lilita One', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    
}



/*-------------------------------------------------------------------------------------
# SECTION: Styles généraux
-------------------------------------------------------------------------------------*/

body {
    font-family: var(--montserrat);
    color: var(--white);
}


h1, h2,h3 {
    font-family: var(--lilita-one);
}

a {
    font-family: var(--lilita-one);
    color: var(--light-gray)
}

a:hover {
    color:var(--white)
}

img {
    width: 354px;
    height: auto;
}

/*-------------------------------------------------------------------------------------
# SECTION: En-tête
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
# SECTION: Main
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
# SECTION: Héro
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
# MEDIA QUERIES
-------------------------------------------------------------------------------------*/